.Description {
    padding: 2rem 0;
    text-align: center;
    height: auto;
    background: #fff;
    display: flex;
    justify-content: space-around;
    .container {
        .columns {
            min-height: 100vh;
            height: auto;
            .column {
                display: flex;
                justify-content: center;
                align-self: center;
                b {
                    margin-bottom: 10vh;
                }
                img {
                    align-self: center;
                }
                .content {
                    height: 100%;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    .arrow-right {
                        display: inline-flex;
                        div {
                            margin-left: 15px;
                            width: 18px;
                            height: 18px;
                            background-repeat: no-repeat !important;
                            background-size: cover !important;
                        }
                    }
                }
            }
        }
    }
    
}
@media(min-width:768px) {
	.Description {
		padding: 0;
	}
}