#Contact {
    height: 80vh;
    background: #00b896;
    color: #fff;
    .columns,.container {
        height: 100%;
        // justify-self: center;
        .column {
            align-self: center;
            #ioInpt {
                opacity: .7;
            }
            .field {
                margin-top:40px;
                width: 100%;
            }
            input {
                height: 42px;
                background-color: #005d4c63;
                border: 1px solid #005d4c;
                border-radius: 0;
                font-size: .9rem;
                &::placeholder {
                    color: #fff;
                }
            }
            a {
                height: 42px;
                border-radius: 0;
                background-color: #00856c;
                border: 1px solid #005d4c;
                font-size: .9rem;
            }
        }
    }
}
