#Home {
    text-align: center;
    padding: 2rem 0;
    height: auto;
    min-height: calc(100vh - 60px);
    background: #35374c;
    display: flex;
    flex-direction: row;
    color: #fff;
    .columns {
        height: calc(100vh - 60px);
        .column {
            display: flex;
            flex-direction: column;
            align-self: center;
            .field {
                margin-top: 10vh;
                .button {
                    border-radius: 2px;
                    border: solid 1px #009e81;
                }
                .input {
                    border-radius: 2px;
                    border: none;
                    background-color: #1d1f35;
                    &::placeholder {
                        color: #ffffff4d;
                    }
                }
            }
        }
    }
}
@media(min-width:768px) {
	#Home {
		padding: 0;
	}
}