#Brandband {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fafafc;
    .container {
        display: flex;
        justify-content: center;
        img {
            height: 100%;
            width: calc(100% / 6);
            // margin: 10px .5rem;
        }
    }
}
