.Savings {
	padding: 2rem 0;
    text-align: center;
    height: auto;
    min-height: 100vh;
	background: #fff;
	display: flex;
    .container {
        align-self: center
    }
	#results {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-content: center;
		>div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			
			p {
				font-size: 4rem;
				small {
					font-size: 2rem;
				}
			}
		}
	}
    #estimated, #savings {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
    #sliderWithValue,#slideremployees {
		box-shadow: 0px -2px 5px #bfbfbf;
		height: 12vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		span {
			margin-left: 15px;
		}
        input {
			bottom: 0;
			position: relative;
            margin-bottom: -5px;
            transform: translateY(-5px);
            width: 100%;
        }
    }
}
@media(min-width:768px) {
	.Savings {
		padding: 0;
		#estimated, #savings {
			width: 50%;
		}
	}
}
