
.Information {
    text-align: center;
    height: 100vh;
    background: #fff;

    .App-header {
        background-color :#222;
        height: 150px;
        padding: 20px;
        color: white;
    }
    
    .App-title {
        font-size: 1.5em;
        
    }
    
    .App-intro {
        font-size: large;
        
    }
    
}