#Statsband {
    height: 120vh;
	background: #fafafc;
	.columns {
		height: 100%;
		overflow: hidden;
		.column {
			position: relative;
		}
	}
	.bandColumn {
		height: 60vh;
	}
    #band1, #band2, #band3 {
		height: 60vh;
		div {
			height: 80vh;
			width: 101%;
			background-size: cover;
			margin-top: -15vh;
		}
    }
	.is-size-1 {
		line-height: 1.5;
		text-align: center;
		small {
			font-size: .8em;
			font-weight: lighter;
			color: #e5e5e5;
		}
		p {
			font-size: .9rem;
			color: #e5e5e5;
		}
		color: #fff;
		align-self: center;
		position: absolute;
		top: calc(30vh - 4rem);
		right: calc(50% - 4rem);
	}
}
@media(min-width:768px) {
	#Statsband {
		height: 60vh !important;
	}
}