#Footer {
    height: 60vh;
    background: #35374c;
    color: #fff;
    .subtitle {
        color: #fff;
    }
    #logoWhite {
        width: 135px;
        height: 27px;
    }
    li {
        margin: 10px;
        a {
            color: #ffffff99;
            &:hover {
                color: darken(#ffffff,15%);
            }
        }
    }   
    img {
        height: 100%;
        // margin: 10px .5rem;
    }
}
