#Carousel {
    height: auto;
    min-height: 55vh;
    padding: 2rem 0;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    background: #fafafc;
    .swiper-container {
        height: 40vh;
    }
    .column {
        align-content: center;
        align-self: center;
        .charge {
            color: #7f7f7f;
        }
        .imgSlide {
            height: 40vh;

        }
        .quotation {
            height: 40px; 
    
            width: auto;
            margin: 10px .5rem;
        }
    }
}
@media(min-width:768px) {
	#Carousel {
		padding: 0;
	}
}