#Copyright {
    min-height: 40px;
    color: #bfbfbf;
    background: mix(black, #35374c, 25%);
    position: relative;
    bottom: 0;
    width: 100%;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: .8rem;
        align-content: center;
        height: 40px;
        a,div,span {
            align-self: center;
            text-decoration: none;
            color:#bfbfbf;
            margin: 0 10px;
            font-size: .8rem;
            &:hover {
            	color: darken(#ffffff, 15%);
            }
        }
    }
    
}