$navbar-item-color: #eee;
$navbar-item-hover-color: #fff;
$navbar-item-hover-background-color: transparent;
#navbar {
    height: 60px;
    background: #35374c;
    .navbar {
        background: #35374c;
        .navbar-burger span {
            background-color: #000;
        }
        .navbar-item {
            color: #ffffff99;
            #logo {
                min-height: 26px;
                padding: 0;
            }
            &:hover {
                color: #00d1b2;
                background-color: transparent;
            }
        }
    }
    #btnRequest {
        border: solid 1px #009e81;
        border-radius: 2px;
    }
    #btnLogin {
        color: #ffffff;
        border: solid 1px #ffffff99;
        background-color: transparent;
        border-radius: 2px;

    }
    ul {
        display: flex;
        flex-direction:row;
        list-style: none;
        li {
            margin: 1rem; 
        }
    }
    img {
        padding:5px;
    }
}