@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$purple: hsl(275, 87%, 45%);
$purple-invert: findColorInvert($purple);
$primary: #00b896;
$primary-invert: findColorInvert($primary);

@import "~bulma/sass/utilities/derived-variables.sass";
$addColors: ( "purple":($purple, $purple-invert), );
$colors: map-merge($colors, $addColors);
@import '~bulma/bulma';


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}